* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  /* background: #0F0F0F; */
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(15, 15, 15, 0.7);

  z-index: 1000;
}


.navbar h2 {
  color: #FC4C02;
}


/* MENU NAVBAR */
.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}


.menu a {
  text-decoration: none;
  color: #B3B3B3;
  font-size: 16px;
  transition: 0.3s;
}


.menu a:hover {
  color: #FC4C02;
}

/* PADRÃO PARA TODAS AS SECTION DO PROJETO*/
section {
  padding-top: 100px;
}

/* HERO */
#hero {
  min-height: 100vh;
  display: flex;
  align-items: center;

  padding: 0 40px;
}

/* PADRÃO PARA TODOS OS CONTAINER DO PROJETO */
.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* TEXTO HERO */
.text-hero {
  flex: 1;
}

.text-hero h1 {
  font-size: 48px;
  color: #FC4C02;
  margin-bottom: 15px;
}

.text-hero p {
  font-size: 18px;
  color: #B3B3B3;
  margin-bottom: 25px;
}

/* BOTÃO HERO */
.text-hero a {
  display: inline-block;
  padding: 12px 28px;
  background: #FC4C02;
  color: white;
  text-decoration: none;
  border-radius: 6px;

  transition: 0.3s;
}

.text-hero a:hover {
  background: #FF6A2A;
  transform: scale(1.05);
}

.text-hero {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* IMAGEM HERO */
.image {
  flex: 1;
  display: flex;
  justify-content: center;

  max-width: 600px;
}

.image .image-hero {
  width: 100%;
  border-radius: 10px;
  filter: brightness(0.9);
}

/* SOBRE */
#sobre {
  padding: 80px 40px;
  background: #111111;
}

/* CONTAINER PADRÃO - REUTILIZADO */
.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

/* IMG PADRÃO - REUTILIZADO */
.image {
  flex: 1;
  display: flex;
  justify-content: center;

  max-width: 600px;
}

.image .image-sobre {
  width: 100%;
  border-radius: 10px;
  filter: brightness(0.9);
}

/* TEXTO SOBRE */
.text-sobre h2 {
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 15px;
  position: relative;
}

.text-sobre p {
  font-size: 16px;
  color: #B3B3B3;
  line-height: 1.7;
  max-width: 500px;
}

.text-sobre h2::after {
  content: "";
  display: block;

  width: 60px;
  height: 3px;

  background: #FC4C02;
  margin-top: 10px;
}

