* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  /* background: #0F0F0F; */
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(15, 15, 15, 0.7);

  z-index: 1000;
}

.navbar h2 {
  color: #FC4C02;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: #B3B3B3;
  font-size: 16px;
  transition: 0.3s;
}

.menu a:hover {
  color: #FC4C02;
}

/* PADRÃO PARA TODAS AS SECTION DO PROJETO*/
section {
  padding-top: 100px;
}

/* HERO */
#hero {
  min-height: 100vh;
  display: flex;
  align-items: center;

  padding: 0 20px;
}

/* PADRÃO PARA TODOS OS CONTAINER DO PROJETO */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.text-hero {
  flex: 1;
}

.text-hero h1 {
  font-size: clamp(28px, 5vw, 48px);
  color: #FC4C02;
  margin-bottom: 15px;
}

.text-hero p {
  font-size: 18px;
  color: #111111;
  margin-bottom: 25px;
}

.text-hero a {
  display: inline-block;
  padding: 12px 28px;
  background: #FC4C02;
  color: white;
  text-decoration: none;
  border-radius: 6px;

  transition: 0.3s;
}

.text-hero a:hover {
  background: #FF6A2A;
  transform: scale(1.05);
}

.text-hero {
  animation: fadeIn 1s ease-in-out;
}

/* EFEITO AO RECARREGAR H1 e P DO HERO*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* PADRÃO PARA TODOS OS IMAGE DO PROJETO */
.image {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;

  max-width: 700px;
}

.image .image-hero {
  width: 100%;
  border-radius: 10px;
  filter: brightness(0.9);
}

/* SOBRE */
#sobre {
  min-height: 100vh;
  display: flex;
  align-items: center;

  padding: 0 20px;
  background: #111111;
  
}

.image .image-sobre {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  filter: brightness(0.9);
}

.text-sobre h2 {
  font-size: clamp(24px, 4vw, 36px);
  color: #FFFFFF;
  margin-bottom: 15px;
  position: relative;
}

.text-sobre p {
  font-size: 16px;
  color: #B3B3B3;
  line-height: 1.7;
  max-width: 500px;
}

.text-sobre h2::after {
  content: "";
  display: block;

  width: 60px;
  height: 3px;

  background: #FC4C02;
  margin-top: 10px;
}

/* TERMOS */
#termos {
  min-height: 100vh;
  display: flex;
  align-items: center;

  padding: 0 20px;
  background: white;
}

.text-termos h2 {
  font-size: 36px;
  color: #FC4C02;
  margin-bottom: 25px;
  position: relative;
}

.cards-termos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-termos h3 {
  color: #FC4C02;
  font-size: 18px;
  margin-bottom: 8px;
}

.card-termos p {
  color: #111111;
  font-size: 14px;
  line-height: 1.5;
}

.card-termos h3::after {
  content: "";
  display: block;

  width: 30px;
  height: 3px;

  background: #FC4C02;
  margin-top: 6px;
}

/* COMEÇAR */
#comecar {
  min-height: 100vh;
  display: flex;
  align-items: center;

  padding: 0 20px;
  background: #0F0F0F;
}

.image .img-comecar {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  filter: brightness(0.9);
}

.text-comecar {
  flex: 1;
}

.text-comecar h2 {
  font-size: clamp(24px, 4vw, 36px);
  color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
}

.text-comecar h2::after {
  content: "";
  display: block;

  width: 60px;
  height: 3px;

  background: #FC4C02;
  margin-top: 10px;
}

.text-comecar ul {
  list-style: none;
  padding: 0;
}

.text-comecar ul li {
  color: #B3B3B3;
  font-size: 16px;
  margin-bottom: 12px;
  position: relative;
  padding-left: 25px;
}

.text-comecar ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #FC4C02;
  font-size: 18px;
}

/* EQUIPAMENTOS */
#equipamentos {
  min-height: 100vh;
  display: flex;
  align-items: center;

  padding: 0 20px;
  background: #FFFFFF;
}

#equipamentos h2 {
  font-size: clamp(24px, 4vw, 36px);
  color: #FC4C02;
  margin-bottom: 50px;
  position: relative;
}

#equipamentos h2::after {
  content: "";
  display: block;

  width: 60px;
  height: 3px;

  background: #FC4C02;
  margin: 10px auto 0;
}

/* CARD IMG E INFOR*/
.cards-equip {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-equip {
  background: #1A1A1A;
  padding: 20px;
  border-radius: 12px;

  transition: 0.3s;
}

.card-equip img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-equip h3 {
  color: #FC4C02;
  margin-bottom: 10px;
  text-align: center;
}

.card-equip p {
  color: #B3B3B3;
  font-size: 14px;
  text-align: center;
}

.card-equip:hover {
  transform: translateY(-8px);
  border: 1px solid #FC4C02;
}

/* GALERIA */
#galeria {
  padding: 100px 40px;
  background: #0F0F0F;
  text-align: center;
}

#galeria h2 {
  font-size: clamp(24px, 4vw, 36px);
  color: #FFFFFF;
  margin-bottom: 50px;
  position: relative;
}

#galeria h2::after {
  content: "";
  display: block;

  width: 60px;
  height: 3px;

  background: #FC4C02;
  margin: 10px auto 0;
}

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.grid-galeria img {
  width: 100%;
  height: 280px; /* pode ajustar */
  object-fit: cover;
  object-position: top;

  border-radius: 10px;
  transition: 0.3s;
}

.grid-galeria img:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

/* FOOTER */
#footer {
  background: #0A0A0A;
  padding: 30px 20px;
  text-align: center;
}

#footer p {
  color: #777;
  font-size: 14px;
}

#footer a {
  color: #FC4C02;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}